 <!--=====================================
Profile
======================================--> 

<aside 
*ngIf="!preload"
class="ps-block--store-banner">

    <div class="ps-block__user">

        <div class="ps-block__user-avatar">

            <img src="{{picture}}">

            <div class="br-wrapper">

               <button 
               *ngIf="!method"
               class="btn btn-primary btn-lg rounded-circle"
               data-target="#newPicture" 
			   data-toggle="modal"
               >
           			<i class="fas fa-pencil-alt"></i>
               </button>

            </div>

            <div 
        	*ngIf="vendor"
        	class="br-wrapper br-theme-fontawesome-stars mt-3">

                <select class="ps-rating" data-read-only="true" style="display: none;">
                    <option value="1">1</option>
                    <option value="1">2</option>
                    <option value="1">3</option>
                    <option value="1">4</option>
                    <option value="2">5</option>
                </select>

            </div>

        </div>

        <div class="ps-block__user-content text-center text-lg-left">

            <h2 class="text-white">{{displayName}}</h2>

            <p><i class="fas fa-user"></i> {{username}}</p>

            <p><i class="fas fa-envelope"></i> {{email}}</p>

            <button 
			*ngIf="!method"
            class="btn btn-warning btn-lg" data-target="#newPassword" data-toggle="modal">Change Password</button>

        </div>

        <div 
		*ngIf="vendor"
        class="row ml-lg-auto pt-5">

            <div class="col-lg-3 col-6">
                <div class="text-center">
                    <a href="#">
                        <h1><i class="fas fa-shopping-cart text-white"></i></h1>
                        <h4 class="text-white">Orders <span class="badge badge-secondary rounded-circle">51</span></h4>
                    </a>
                </div>
            </div><!-- box /-->

            <div class="col-lg-3 col-6">
                <div class="text-center">
                    <a href="#">
                        <h1><i class="fas fa-shopping-bag text-white"></i></h1>
                        <h4 class="text-white">Products <span class="badge badge-secondary rounded-circle">51</span></h4>
                    </a>
                </div>
            </div><!-- box /-->

            <div class="col-lg-3 col-6">
                <div class="text-center">
                    <a href="#">
                        <h1><i class="fas fa-bell text-white"></i></h1>
                        <h4 class="text-white">Disputes <span class="badge badge-secondary rounded-circle">51</span></h4>
                    </a>
                </div>
            </div><!-- box /-->

            <div class="col-lg-3 col-6">
                <div class="text-center">
                    <a href="#">
                        <h1><i class="fas fa-comments text-white"></i></h1>
                        <h4 class="text-white">Messages <span class="badge badge-secondary rounded-circle">51</span></h4>
                    </a>
                </div>
            </div><!-- box /-->
        </div>

    </div>

</aside><!-- s -->

<!--=====================================
Preload
======================================-->
<div
*ngIf="preload"
class="d-flex justify-content-center">
    
    <div class="spinner-border text-muted my-5"></div>

</div>

<!--=====================================
Wishlist
======================================-->

<app-account-wishlist
*ngIf="!preload && accountUrl == undefined"
[childItem]="id"
></app-account-wishlist>

<!--=====================================
My Shopping
======================================-->

<app-account-my-shopping
*ngIf="!preload && accountUrl == 'my-shopping'"
[childItem]="username"
></app-account-my-shopping>

<!--=====================================
New Store
======================================-->
<app-account-new-store
*ngIf="!preload && accountUrl == 'new-store'"
[childItem]="username">   
</app-account-new-store>

<!--=====================================
My Store
======================================-->
<app-account-my-store
*ngIf="!preload && accountUrl == 'my-store'"
[childItem]="username">   
</app-account-my-store>

<!--=====================================
MODAL PARA ESCRIBIR LA NUEVA CONTRASEÑA
======================================-->

<div class="modal" id="newPassword">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">New Password</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        
        <form class="ps-form--account ps-tab-root needs-validation" novalidate>
            
            <div class="form-group">
                
                <input 
                type="password" 
                class="form-control" 
                placeholder="Input your new password"
                name="password"
                #password
                minlength="4"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,}"  
                data-toggle="tooltip"
                title="Enter your password with at least 4 characters and must include uppercase, lowercase letters and numbers"
                (change)="validate(password)"
                required>

                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill in this field correctly.</div>

            </div>

            <div class="form-group submtit">

                <button 
                type="button"
                (click)="newPassword(password.value)"
                class="ps-btn ps-btn--fullwidth">Submit</button>

            </div>

        </form>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<!--=====================================
MODAL PARA CAMBIAR LA FOTO
======================================-->

<div class="modal" id="newPicture">
  
	<div class="modal-dialog">

		<div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">New Picture</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<!-- Modal body -->
      		<div class="modal-body">

				<form class="ps-form--account ps-tab-root">

				 	<div class="custom-file">
					    
					    <input type="file" 
					    class="custom-file-input" 
					    id="customFile"
					    accept="image/*"
					    maxSize="2000000"
					    (change)="validateImage($event)">

					    <label class="custom-file-label" for="customFile">Choose file</label>

				  	</div>

				  	<figure class="text-center py-3">
				  		
				  		<img src="{{picture}}" class="img-fluid rounded-circle changePicture" style="width:150px">

				  	</figure>

				  	<div class="form-group submtit">

				  		<button 
				  		type="button"
				  		(click)="uploadImage()"
				  		class="ps-btn ps-btn--fullwidth">Submit</button>

				  	</div>

				</form>

      		</div>

		</div>

	</div>

</div>
