<!--=====================================
Nav Account
======================================--> 

<div class="ps-section__content">

    <ul class="ps-section__links">
        <li><a href="/account">My Wishlist</a></li>
        <li class="active"><a href="/account/my-shopping">My Shopping</a></li>
       
        <li
        *ngIf="!is_vendor"
        ><a href="/account/new-store">My Store</a></li>

        <li
        *ngIf="is_vendor"
        ><a href="/account/my-store">My Store</a></li>

        <li><a href="my-account_my-sales.html">My Sales</a></li>
    </ul>


    <!--=====================================
    My Shopping
    ======================================--> 

    <div class="table-responsive">

        <table class="table ps-table--whishlist dt-responsive" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" width="100%">

            <thead>

                <tr>      

                    <th>Product name</th>

                    <th>Process</th>

                    <th>Price</th>

                    <th>Quantity</th>

                    <th>Review</th>

                </tr>

            </thead>

            <tbody>

            	<tr
                *ngIf="myShopping.length == 0">

					<td colspan="5" class="text-center">You haven't products in your shopping's yet!</td>    

            	</tr>

                <!-- Product -->

                <tr
                *ngFor="let product of myShopping; let i = index">

                    <td>

                        <div class="ps-product--cart">

                            <div class="ps-product__thumbnail">

                                <a href="product/{{product.url}}">
                                    <img src="{{path}}img/products/{{product.category}}/{{product.image}}">
                                </a>
                                
                            </div>

                            <div class="ps-product__content">

                                <a href="product/{{product.url}}">{{product.product}}</a>

                            </div>

                        </div>

                    </td>

                    <td>

                        <ul class="timeline">

                        	<!--=====================================
                        	1 Momento: Órden de entrega recibida
                        	======================================-->
       	
                            <li 
							*ngIf="process[i][0].stage == 'reviewed' && process[i][0].status== 'ok'"
                            class="success"> 

                                <h5>{{process[i][0].date | date}}</h5>
                                <p class="text-success">Reviewed <i class="fas fa-check"></i></p>
                                <p>Comment: {{process[i][0].comment}}</p>
                                
                            </li>

                            <!--=====================================
                        	2 Momento: Cuando se envía el producto
                        	======================================-->

                        	<!-- Cuando el status es ok -->

                        	<li 
							*ngIf="process[i][1].stage == 'sent' && process[i][1].status == 'ok'"
                            class="success"> 

                                <h5>{{process[i][1].date | date}}</h5>
                                <p class="text-success">Sent <i class="fas fa-check"></i></p>
                                <p>Comment: {{process[i][1].comment}}</p>
                                
                            </li>

                            <!-- Cuando el status es pendiente -->

                            <li 
                            *ngIf="process[i][1].stage == 'sent' && process[i][1].status != 'ok'" 
                            class="process">
                                <h5>{{process[i][1].date | date}}</h5>         
                                <p>Sent</p>
                                <button class="btn btn-primary" disabled>
                                  <span class="spinner-border spinner-border-sm"></span>
                                  In process
                                </button>
                            </li>

                            <!--=====================================
                        	3 Momento: Cuando se entrega el producto
                        	======================================-->

                        	<!-- Cuando el status es ok -->

                        	<li 
							*ngIf="process[i][2].stage == 'delivered' && process[i][2].status == 'ok'"
                            class="success"> 

                                <h5>{{process[i][1].date | date}}</h5>
                                <p class="text-success">Delivered <i class="fas fa-check"></i></p>
                                <p>Comment: {{process[i][2].comment}}</p>
                                
                            </li>

                            <!-- Cuando el status es pendiente -->

                            <li 
                            *ngIf="process[i][2].stage == 'delivered' && process[i][2].status != 'ok'" 
                            class="process">
                                <h5>{{process[i][2].date | date}}</h5>         
                                <p>Delivered</p>
                                <button class="btn btn-primary" disabled>
                                  <span class="spinner-border spinner-border-sm"></span>
                                  In process
                                </button>
                            </li>
                           
                        </ul>  
						
					 	<!--=====================================
                    	Apertura de una disputa si el producto aún no ha sido entregado
                    	======================================-->

                        <a 
                        *ngIf="process[i][2].stage == 'delivered' && process[i][2].status != 'ok'" 
                        class="btn btn-danger btn-lg" href="#">Open Dispute</a>
						
						<!--=====================================
                    	Permitimos la recompra si el producto ha sido entregado
                    	======================================-->
                        <a 
						*ngIf="process[i][2].stage == 'delivered' && process[i][2].status == 'ok'" 
                        class="btn btn-warning btn-lg" href="product/{{product.url}}">Repurchase</a>

                    </td> 

                    <td class="price text-center">${{product.price}}</td>

                    <td class="text-center">{{product.quantity}}</td>

					
					<!--=====================================
                    No permitir escribir comentarios del producto si aún no ha sido entregado
                    ======================================-->

                    <td
                    *ngIf="process[i][2].stage == 'delivered' && process[i][2].status != 'ok'" 
                    >
	                    <div class="text-center  mt-2">
  
                            <a class="btn btn-warning btn-lg disabled" href="#">Add comment</a>

                        </div>

                    </td>
                    	
					<!--=====================================
                    Permitir escribir comentarios del producto si ha sido entregado
                    ======================================-->

                    <td
					*ngIf="process[i][2].stage == 'delivered' && process[i][2].status == 'ok'" 
                    >

                        <div class="text-center  mt-2">

                            <div class="br-theme-fontawesome-stars">

                                <select class="ps-rating" data-read-only="true" style="display: none;">
                                    <option value="1">1</option>
                                    <option value="1">2</option>
                                    <option value="1">3</option>
                                    <option value="1">4</option>
                                    <option value="2">5</option>
                                </select>

                            </div>

                            <a class="btn btn-warning btn-lg" href="#">Add comment</a>

                        </div>

                    </td>

                </tr>

                <!-- Product -->
             
            </tbody>

        </table>

    </div><!-- End My Shopping -->

</div>

